ul {
  padding-left: 0;
}
li {
  list-style: none;
  text-align: center;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
  color: #198754;
}
a:hover {
  color: #0c71c3;
}
hr {
  margin: 12px 0px;
}

.weather-app-wrapper {
  margin: 15px auto;
  max-width: 850px;
}
.weather-app {
  margin-bottom: 10px;
  padding: 40px;
  background-color: #fdefd5;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}
.form-control:focus {
  border-color: #198754;
}
.heading {
  font-size: 60px;
  position: relative;
}
.mesh {
  width: 400px;
  display: block;
  margin: 0 auto;
}
.heading-text {
  position: absolute;
  top: calc(50% - 60px);
  left: 0;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}
.heading-text .active {
  color: #331832;
  cursor: default;
}
#date {
  font-size: 35px;
}
#description {
  font-size: 25px;
}

.line,
.weather-forecast {
  padding: 0 30%;
}
.weather-forecast {
  margin-bottom: 40px;
  font-size: 14px;
  text-align: center;
}
.weekly-forecast {
  padding: 0 150px;
}
.weather-forecast-temperature-max {
  font-family: "Yeseva One", cursive;
  font-size: 20px;
  text-align: right;
}
.weather-forecast-temperature-min {
  font-size: 16px;
  opacity: 0.7;
}
.weather-forecast-day {
  text-align: right;
  font-size: 16px;
  opacity: 0.7;
}

li,
#city,
.strong {
  font-family: "Yeseva One", cursive;
}

#enter-city {
  background-color: #fdefd5;
}
#temperature {
  font-size: 75px;
  line-height: 1.2;
}
#degrees {
  font-size: 20px;
}
#icon {
  width: 140px;
}
#week-icon {
  width: 20px;
}
#humidity,
#wind,
#feel,
.weather-forecast-temperature-min,
.weather-forecast-day,
small {
  font-family: "Nunito", sans-serif;
}
